CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.build_debug/
build
*.caffemodel
*.solverstate
data/
qdata/
test_data/
examples/VOC0712
*.mdb
